name: code-style-check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install
        env:
          PIP_DISABLE_PIP_VERSION_CHECK: '1'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run
        run: black --check --diff .

  lint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install
        env:
          PIP_DISABLE_PIP_VERSION_CHECK: '1'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run
        run: ruff check --output-format=github .
